
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f0f0;
    color: #333;
    font-family: Arial, sans-serif;
}

.Header {
    background-color: #007acc;
    text-align: center;
    padding: 20px;
    color: #fff;
}

.Navigation ul {
    list-style-type: none;
    padding: 0;
}

.Navigation ul a {
    display: inline-block;
    margin-right: 20px;
    text-decoration: none;
    color: #007acc;
    font-weight: bold;
}

.About,
.Outline,
.Instructor {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    margin: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.About h2{
    margin-bottom: .95%;
}

.Outline li {
    margin-bottom: 10px;
}

.Navigation ul a:hover {
    color: #005d99;
}